<p id="notice"><%= notice %></p>

<h1>Articles</h1>

<p>
  
  <% if @articles.empty? %>
    <p> no Articles <p>
  <% else %>  
  <%= best_article.title %>
  <% end %>
  
<p>

<br>

<%= link_to 'New Article', new_article_path %>
